#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logocard {
    display: flex; /* Alinha os logos lado a lado */
    align-items: center; /* Alinha os logos verticalmente ao centro */
    justify-content: center; /* Centraliza os logos horizontalmente */
}

.logo {
    margin: 0 5px; /* Adiciona uma pequena margem horizontal entre os logos */
}

.logo {
  height: 80px;
  padding: 0px;
  margin: 0px;
  will-change: filter;
  transition: filter 300ms;
  position: relative;
  top: 3px;
  left: 18px;
  animation: girarHorario 5s linear infinite;
}


.logo-invertido {
  height: 80px;
  padding: 0px;
  margin: 0px;
  will-change: filter;
  transition: filter 300ms;
  position: relative;
  top: -44px;
  left: -92px;
  animation: girarAntihorario 5s linear infinite;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes girarHorario {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(405deg);
    }
}

@keyframes girarAntihorario {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(-0deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
